.title{
    color: white;
    font-size: 3em;
    padding-top: 0.2em;
    padding-bottom: 0.5em;
    text-align: center;
}

body{
    background-color: black;
    align-content: center;
}

.tabla{
    text-align: center;
    width: auto;
    height: 50em;
    margin: 0 auto;
}

table td{
    border: 1pt solid black;
    width: 50pt;
    height: 50pt;
    margin: 0%;
    padding: 0;
}

td{
    background-color: white;
    color: white;
    margin: 0;
    padding: 0; 
}


td.b{
    background-color: black;
    color: black
}

td:hover{
    background-color: rgba(255, 0, 0, 0.5);
    color:white;
    text-align: center;
}

ul li{
    display: block;
    text-align: right;
    color: white;
    text-decoration: none;
    font-family: cursive;
}
li a{
    color: white;
    text-decoration: none;
}